.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 55rem;

    @include responsive(tab-port) {
        height: 55rem;
    }
    @include responsive(phone) {
        height: 70rem;
    }

    &__side {
        height: inherit;
        font-size: 2rem;
        transition: all 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
        overflow: hidden;

        &--front {
            background-color: white;
        }
        &--back {
            transform: rotateY(180deg);
            box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
            &-1 {
                background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
            }
            &-2 {
                background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            }
            &-3 {
                background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        background-size: cover;
        height: 15rem;
        background-position: center;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        @include responsive(tab-port) {
            height: 20rem;
        }
        @include responsive(phone) {
            height: 30rem;
        }

        &--1 {
            background-image: url(../assets/playa.jpg);
        }
        &--2 {
            background-image: url(../assets/desierto.jpg);
            background-position: bottom;
        }
        &--3 {
            background-image: url(../assets/bacalar.jpg);
            @include responsive(tab-port) {
                background-position: 100% 70%;
            }
        }
    }
    &__heading {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: white;
        position: absolute;
        top: 9rem;
        right: 1rem;
        width: 75%;
    }
    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        @include responsive(tab-port) {
            font-size: 3rem;
        }
        @include responsive(phone) {
            font-size: 4rem;
        }
        &--1 {
            background-image: linear-gradient(120deg, #a1c4fda6 0%, #c2e9fba6 100%);
        }
        &--2 {
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        }
        &--3 {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        }
    }
    &__details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                font-weight: 300;
                text-align: center;
                font-size: 2rem;
                padding: 1rem;
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
                @include responsive(phone) {
                    font-size: 2.5rem;
                }
            }
        }
    }

    // Back side
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: white;
    }
    &__price-text {
        font-size: 1.4rem;
        text-transform: uppercase;
        @include responsive(tab-port) {
            font-size: 4rem;
        }
    }
    &__price-number {
        font-size: 4rem;
        font-weight: 100;
        @include responsive(tab-port) {
            font-size: 8rem;
        }
    }
}
