@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@font-face {
    font-family: "Foxy";
    src: url("../assets/fonts/Foxy.woff2") format("woff2"), url("../assets/fonts/Foxy.woff") format("woff"),
        url("../assets/fonts/Foxy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manoyri";
    src: url("../assets/fonts/Manoyri-Regular.woff2") format("woff2"),
        url("../assets/fonts/Manoyri-Regular.woff") format("woff"),
        url("../assets/fonts/Manoyri-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
