.section-features {
    margin-top: -10rem;
    padding: 20rem 0;
    background-image: linear-gradient(to bottom right, #a13331b6, #a1141236), url(../assets/features.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 15%, 100% 1%, 100% 85%, 0% 100%);

    @include responsive(tab-port){
        padding: 30rem 0;
        clip-path: polygon(0 10%, 100% 1%, 100% 90%, 0% 100%);

    }

}
